body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 300px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.textInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: lightgreen;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-card {
    width: 200px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.recipe-card a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.recipe-card a:hover {
    text-decoration: underline;
}

p {
    font-size: 16px;
    color: darkgrey;
    margin-top: 20px;
}